.root{
    -fx-background-image: url(../assets/bd2917bc8BACKDROPMAPMENU.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.button{
    -fx-background-color: #9998AD;
    -fx-background-radius: 10px;
    -fx-font-family: "Old English Text MT";
    -fx-font-size: 18;
}

.button:hover{
    -fx-background-color: #4C4C56;
}
.button:pressed  {
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: gray;
}


#wargamesTitel{
    -fx-background-image: url(../assets/titel.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.scroll-pane{
    -fx-border-color: black;
    -fx-opacity: 70%;

}

.pane{
    -fx-border-width: 5px;
    -fx-border-color: gray;
}

#saveNameText{
    -fx-font-family: "Malgun Gothic";
    -fx-font-size: 18;
}
#saveTable{
    -fx-spacing: 1px;
}

#previewBackground{
    -fx-background-color :derive(#4D4C4F,10.0%);
}

/*
scrollbar css taken from:
https://stackoverflow.com/questions/48048943/javafx-8-scroll-bar-css
*/

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

